extends ../template

block variables
	- var title = 'Анкета покупки 100% оплата'

block content
	.grey-block
	.anketa
		.container
			.anketa-tabs
				//На активном элементе класс "active", на неактивном - "btn--transp"
				.anketa-tabs__item.btn-new.active
					<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.87064 9.67067C10.0618 9.67067 11.0932 9.24344 11.9361 8.40051C12.7787 7.55773 13.2061 6.52652 13.2061 5.3352C13.2061 4.14428 12.7789 3.11294 11.936 2.26988C11.093 1.42723 10.0617 1 8.87064 1C7.67931 1 6.6481 1.42723 5.80531 2.27002C4.96252 3.1128 4.53516 4.14414 4.53516 5.3352C4.53516 6.52652 4.96252 7.55786 5.80531 8.40065C6.64838 9.2433 7.67972 9.67067 8.87064 9.67067ZM6.55128 3.01585C7.19797 2.36917 7.95657 2.05482 8.87064 2.05482C9.78456 2.05482 10.5433 2.36917 11.1901 3.01585C11.8368 3.66267 12.1513 4.42141 12.1513 5.3352C12.1513 6.24926 11.8368 7.00786 11.1901 7.65468C10.5433 8.3015 9.78456 8.61585 8.87064 8.61585C7.95685 8.61585 7.19824 8.30136 6.55128 7.65468C5.90446 7.008 5.58998 6.24926 5.58998 5.3352C5.58998 4.42141 5.90446 3.66267 6.55128 3.01585Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
						<path d="M16.9612 15.9776C16.9353 15.6383 16.8829 15.2683 16.8058 14.8775C16.728 14.4838 16.6278 14.1117 16.5078 13.7715C16.3837 13.4199 16.2153 13.0727 16.0068 12.74C15.7907 12.3946 15.5367 12.0939 15.2517 11.8465C14.9537 11.5876 14.5887 11.3795 14.1668 11.2277C13.7463 11.0766 13.2803 11.0001 12.7818 11.0001C12.586 11.0001 12.3967 11.0731 12.031 11.2892C11.806 11.4224 11.5428 11.5765 11.249 11.7469C10.9978 11.8922 10.6574 12.0283 10.2371 12.1516C9.82697 12.2721 9.41056 12.3332 8.99941 12.3332C8.58857 12.3332 8.17216 12.2721 7.76175 12.1516C7.34183 12.0285 7.00135 11.8923 6.75057 11.747C6.45955 11.5782 6.19619 11.4241 5.96779 11.289C5.60245 11.0729 5.41312 11 5.21735 11C4.71871 11 4.25285 11.0766 3.83249 11.2278C3.41081 11.3793 3.04576 11.5875 2.74743 11.8466C2.46241 12.0942 2.20841 12.3948 1.99245 12.74C1.78424 13.0727 1.61569 13.4198 1.49161 13.7716C1.37178 14.1118 1.27156 14.4838 1.19372 14.8775C1.11647 15.2678 1.06423 15.6379 1.03833 15.978C1.01288 16.3104 1 16.6564 1 17.006C1 17.9148 1.31823 18.6505 1.94577 19.1931C2.56556 19.7285 3.3855 20 4.38292 20H13.6171C14.6142 20 15.4341 19.7285 16.0541 19.1931C16.6818 18.6509 17 17.9149 17 17.0059C16.9999 16.6551 16.9868 16.3091 16.9612 15.9776ZM15.2792 18.4539C14.8697 18.8078 14.326 18.9798 13.6169 18.9798H4.38292C3.67374 18.9798 3.13004 18.8078 2.72065 18.4541C2.31902 18.107 2.12384 17.6332 2.12384 17.006C2.12384 16.6798 2.13569 16.3577 2.15939 16.0485C2.18251 15.7451 2.22977 15.4119 2.29985 15.0578C2.36906 14.708 2.45714 14.3798 2.5619 14.0827C2.66242 13.7978 2.79951 13.5157 2.96953 13.2439C3.13179 12.9849 3.31849 12.7627 3.5245 12.5837C3.71719 12.4162 3.96007 12.2791 4.24626 12.1763C4.51095 12.0812 4.8084 12.0291 5.13132 12.0213C5.17067 12.0403 5.24076 12.0765 5.3543 12.1437C5.58533 12.2804 5.85162 12.4364 6.146 12.607C6.47784 12.7991 6.90537 12.9726 7.41615 13.1223C7.93835 13.2755 8.47093 13.3534 8.99956 13.3534C9.52819 13.3534 10.0609 13.2755 10.5828 13.1224C11.094 12.9724 11.5214 12.7991 11.8537 12.6068C12.155 12.432 12.4138 12.2806 12.6448 12.1437C12.7584 12.0767 12.8284 12.0403 12.8678 12.0213C13.1909 12.0291 13.4883 12.0812 13.7531 12.1763C14.0392 12.2791 14.2821 12.4163 14.4748 12.5837C14.6808 12.7626 14.8675 12.9848 15.0297 13.2441C15.1999 13.5157 15.3371 13.7979 15.4375 14.0826C15.5424 14.3801 15.6306 14.7082 15.6997 15.0576C15.7696 15.4124 15.8171 15.7458 15.8402 16.0486V16.0489C15.864 16.3569 15.876 16.6789 15.8762 17.006C15.876 17.6333 15.6808 18.107 15.2792 18.4539Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
					</svg>
					| Собственник #1
					span
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
							<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
						</svg>
				.anketa-tabs__item.btn-new.btn--transp
					<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.87064 9.67067C10.0618 9.67067 11.0932 9.24344 11.9361 8.40051C12.7787 7.55773 13.2061 6.52652 13.2061 5.3352C13.2061 4.14428 12.7789 3.11294 11.936 2.26988C11.093 1.42723 10.0617 1 8.87064 1C7.67931 1 6.6481 1.42723 5.80531 2.27002C4.96252 3.1128 4.53516 4.14414 4.53516 5.3352C4.53516 6.52652 4.96252 7.55786 5.80531 8.40065C6.64838 9.2433 7.67972 9.67067 8.87064 9.67067ZM6.55128 3.01585C7.19797 2.36917 7.95657 2.05482 8.87064 2.05482C9.78456 2.05482 10.5433 2.36917 11.1901 3.01585C11.8368 3.66267 12.1513 4.42141 12.1513 5.3352C12.1513 6.24926 11.8368 7.00786 11.1901 7.65468C10.5433 8.3015 9.78456 8.61585 8.87064 8.61585C7.95685 8.61585 7.19824 8.30136 6.55128 7.65468C5.90446 7.008 5.58998 6.24926 5.58998 5.3352C5.58998 4.42141 5.90446 3.66267 6.55128 3.01585Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
						<path d="M16.9612 15.9776C16.9353 15.6383 16.8829 15.2683 16.8058 14.8775C16.728 14.4838 16.6278 14.1117 16.5078 13.7715C16.3837 13.4199 16.2153 13.0727 16.0068 12.74C15.7907 12.3946 15.5367 12.0939 15.2517 11.8465C14.9537 11.5876 14.5887 11.3795 14.1668 11.2277C13.7463 11.0766 13.2803 11.0001 12.7818 11.0001C12.586 11.0001 12.3967 11.0731 12.031 11.2892C11.806 11.4224 11.5428 11.5765 11.249 11.7469C10.9978 11.8922 10.6574 12.0283 10.2371 12.1516C9.82697 12.2721 9.41056 12.3332 8.99941 12.3332C8.58857 12.3332 8.17216 12.2721 7.76175 12.1516C7.34183 12.0285 7.00135 11.8923 6.75057 11.747C6.45955 11.5782 6.19619 11.4241 5.96779 11.289C5.60245 11.0729 5.41312 11 5.21735 11C4.71871 11 4.25285 11.0766 3.83249 11.2278C3.41081 11.3793 3.04576 11.5875 2.74743 11.8466C2.46241 12.0942 2.20841 12.3948 1.99245 12.74C1.78424 13.0727 1.61569 13.4198 1.49161 13.7716C1.37178 14.1118 1.27156 14.4838 1.19372 14.8775C1.11647 15.2678 1.06423 15.6379 1.03833 15.978C1.01288 16.3104 1 16.6564 1 17.006C1 17.9148 1.31823 18.6505 1.94577 19.1931C2.56556 19.7285 3.3855 20 4.38292 20H13.6171C14.6142 20 15.4341 19.7285 16.0541 19.1931C16.6818 18.6509 17 17.9149 17 17.0059C16.9999 16.6551 16.9868 16.3091 16.9612 15.9776ZM15.2792 18.4539C14.8697 18.8078 14.326 18.9798 13.6169 18.9798H4.38292C3.67374 18.9798 3.13004 18.8078 2.72065 18.4541C2.31902 18.107 2.12384 17.6332 2.12384 17.006C2.12384 16.6798 2.13569 16.3577 2.15939 16.0485C2.18251 15.7451 2.22977 15.4119 2.29985 15.0578C2.36906 14.708 2.45714 14.3798 2.5619 14.0827C2.66242 13.7978 2.79951 13.5157 2.96953 13.2439C3.13179 12.9849 3.31849 12.7627 3.5245 12.5837C3.71719 12.4162 3.96007 12.2791 4.24626 12.1763C4.51095 12.0812 4.8084 12.0291 5.13132 12.0213C5.17067 12.0403 5.24076 12.0765 5.3543 12.1437C5.58533 12.2804 5.85162 12.4364 6.146 12.607C6.47784 12.7991 6.90537 12.9726 7.41615 13.1223C7.93835 13.2755 8.47093 13.3534 8.99956 13.3534C9.52819 13.3534 10.0609 13.2755 10.5828 13.1224C11.094 12.9724 11.5214 12.7991 11.8537 12.6068C12.155 12.432 12.4138 12.2806 12.6448 12.1437C12.7584 12.0767 12.8284 12.0403 12.8678 12.0213C13.1909 12.0291 13.4883 12.0812 13.7531 12.1763C14.0392 12.2791 14.2821 12.4163 14.4748 12.5837C14.6808 12.7626 14.8675 12.9848 15.0297 13.2441C15.1999 13.5157 15.3371 13.7979 15.4375 14.0826C15.5424 14.3801 15.6306 14.7082 15.6997 15.0576C15.7696 15.4124 15.8171 15.7458 15.8402 16.0486V16.0489C15.864 16.3569 15.876 16.6789 15.8762 17.006C15.876 17.6333 15.6808 18.107 15.2792 18.4539Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
					</svg>
					| Собственник #2
					span
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
							<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
						</svg>
				.anketa-tabs__item.btn-new.btn--transp
					<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.87064 9.67067C10.0618 9.67067 11.0932 9.24344 11.9361 8.40051C12.7787 7.55773 13.2061 6.52652 13.2061 5.3352C13.2061 4.14428 12.7789 3.11294 11.936 2.26988C11.093 1.42723 10.0617 1 8.87064 1C7.67931 1 6.6481 1.42723 5.80531 2.27002C4.96252 3.1128 4.53516 4.14414 4.53516 5.3352C4.53516 6.52652 4.96252 7.55786 5.80531 8.40065C6.64838 9.2433 7.67972 9.67067 8.87064 9.67067ZM6.55128 3.01585C7.19797 2.36917 7.95657 2.05482 8.87064 2.05482C9.78456 2.05482 10.5433 2.36917 11.1901 3.01585C11.8368 3.66267 12.1513 4.42141 12.1513 5.3352C12.1513 6.24926 11.8368 7.00786 11.1901 7.65468C10.5433 8.3015 9.78456 8.61585 8.87064 8.61585C7.95685 8.61585 7.19824 8.30136 6.55128 7.65468C5.90446 7.008 5.58998 6.24926 5.58998 5.3352C5.58998 4.42141 5.90446 3.66267 6.55128 3.01585Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
						<path d="M16.9612 15.9776C16.9353 15.6383 16.8829 15.2683 16.8058 14.8775C16.728 14.4838 16.6278 14.1117 16.5078 13.7715C16.3837 13.4199 16.2153 13.0727 16.0068 12.74C15.7907 12.3946 15.5367 12.0939 15.2517 11.8465C14.9537 11.5876 14.5887 11.3795 14.1668 11.2277C13.7463 11.0766 13.2803 11.0001 12.7818 11.0001C12.586 11.0001 12.3967 11.0731 12.031 11.2892C11.806 11.4224 11.5428 11.5765 11.249 11.7469C10.9978 11.8922 10.6574 12.0283 10.2371 12.1516C9.82697 12.2721 9.41056 12.3332 8.99941 12.3332C8.58857 12.3332 8.17216 12.2721 7.76175 12.1516C7.34183 12.0285 7.00135 11.8923 6.75057 11.747C6.45955 11.5782 6.19619 11.4241 5.96779 11.289C5.60245 11.0729 5.41312 11 5.21735 11C4.71871 11 4.25285 11.0766 3.83249 11.2278C3.41081 11.3793 3.04576 11.5875 2.74743 11.8466C2.46241 12.0942 2.20841 12.3948 1.99245 12.74C1.78424 13.0727 1.61569 13.4198 1.49161 13.7716C1.37178 14.1118 1.27156 14.4838 1.19372 14.8775C1.11647 15.2678 1.06423 15.6379 1.03833 15.978C1.01288 16.3104 1 16.6564 1 17.006C1 17.9148 1.31823 18.6505 1.94577 19.1931C2.56556 19.7285 3.3855 20 4.38292 20H13.6171C14.6142 20 15.4341 19.7285 16.0541 19.1931C16.6818 18.6509 17 17.9149 17 17.0059C16.9999 16.6551 16.9868 16.3091 16.9612 15.9776ZM15.2792 18.4539C14.8697 18.8078 14.326 18.9798 13.6169 18.9798H4.38292C3.67374 18.9798 3.13004 18.8078 2.72065 18.4541C2.31902 18.107 2.12384 17.6332 2.12384 17.006C2.12384 16.6798 2.13569 16.3577 2.15939 16.0485C2.18251 15.7451 2.22977 15.4119 2.29985 15.0578C2.36906 14.708 2.45714 14.3798 2.5619 14.0827C2.66242 13.7978 2.79951 13.5157 2.96953 13.2439C3.13179 12.9849 3.31849 12.7627 3.5245 12.5837C3.71719 12.4162 3.96007 12.2791 4.24626 12.1763C4.51095 12.0812 4.8084 12.0291 5.13132 12.0213C5.17067 12.0403 5.24076 12.0765 5.3543 12.1437C5.58533 12.2804 5.85162 12.4364 6.146 12.607C6.47784 12.7991 6.90537 12.9726 7.41615 13.1223C7.93835 13.2755 8.47093 13.3534 8.99956 13.3534C9.52819 13.3534 10.0609 13.2755 10.5828 13.1224C11.094 12.9724 11.5214 12.7991 11.8537 12.6068C12.155 12.432 12.4138 12.2806 12.6448 12.1437C12.7584 12.0767 12.8284 12.0403 12.8678 12.0213C13.1909 12.0291 13.4883 12.0812 13.7531 12.1763C14.0392 12.2791 14.2821 12.4163 14.4748 12.5837C14.6808 12.7626 14.8675 12.9848 15.0297 13.2441C15.1999 13.5157 15.3371 13.7979 15.4375 14.0826C15.5424 14.3801 15.6306 14.7082 15.6997 15.0576C15.7696 15.4124 15.8171 15.7458 15.8402 16.0486V16.0489C15.864 16.3569 15.876 16.6789 15.8762 17.006C15.876 17.6333 15.6808 18.107 15.2792 18.4539Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
					</svg>
					| Собственник #2
					span
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
							<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
						</svg>
				.anketa-tabs__item.btn-new.btn--transp
					<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.87064 9.67067C10.0618 9.67067 11.0932 9.24344 11.9361 8.40051C12.7787 7.55773 13.2061 6.52652 13.2061 5.3352C13.2061 4.14428 12.7789 3.11294 11.936 2.26988C11.093 1.42723 10.0617 1 8.87064 1C7.67931 1 6.6481 1.42723 5.80531 2.27002C4.96252 3.1128 4.53516 4.14414 4.53516 5.3352C4.53516 6.52652 4.96252 7.55786 5.80531 8.40065C6.64838 9.2433 7.67972 9.67067 8.87064 9.67067ZM6.55128 3.01585C7.19797 2.36917 7.95657 2.05482 8.87064 2.05482C9.78456 2.05482 10.5433 2.36917 11.1901 3.01585C11.8368 3.66267 12.1513 4.42141 12.1513 5.3352C12.1513 6.24926 11.8368 7.00786 11.1901 7.65468C10.5433 8.3015 9.78456 8.61585 8.87064 8.61585C7.95685 8.61585 7.19824 8.30136 6.55128 7.65468C5.90446 7.008 5.58998 6.24926 5.58998 5.3352C5.58998 4.42141 5.90446 3.66267 6.55128 3.01585Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
						<path d="M16.9612 15.9776C16.9353 15.6383 16.8829 15.2683 16.8058 14.8775C16.728 14.4838 16.6278 14.1117 16.5078 13.7715C16.3837 13.4199 16.2153 13.0727 16.0068 12.74C15.7907 12.3946 15.5367 12.0939 15.2517 11.8465C14.9537 11.5876 14.5887 11.3795 14.1668 11.2277C13.7463 11.0766 13.2803 11.0001 12.7818 11.0001C12.586 11.0001 12.3967 11.0731 12.031 11.2892C11.806 11.4224 11.5428 11.5765 11.249 11.7469C10.9978 11.8922 10.6574 12.0283 10.2371 12.1516C9.82697 12.2721 9.41056 12.3332 8.99941 12.3332C8.58857 12.3332 8.17216 12.2721 7.76175 12.1516C7.34183 12.0285 7.00135 11.8923 6.75057 11.747C6.45955 11.5782 6.19619 11.4241 5.96779 11.289C5.60245 11.0729 5.41312 11 5.21735 11C4.71871 11 4.25285 11.0766 3.83249 11.2278C3.41081 11.3793 3.04576 11.5875 2.74743 11.8466C2.46241 12.0942 2.20841 12.3948 1.99245 12.74C1.78424 13.0727 1.61569 13.4198 1.49161 13.7716C1.37178 14.1118 1.27156 14.4838 1.19372 14.8775C1.11647 15.2678 1.06423 15.6379 1.03833 15.978C1.01288 16.3104 1 16.6564 1 17.006C1 17.9148 1.31823 18.6505 1.94577 19.1931C2.56556 19.7285 3.3855 20 4.38292 20H13.6171C14.6142 20 15.4341 19.7285 16.0541 19.1931C16.6818 18.6509 17 17.9149 17 17.0059C16.9999 16.6551 16.9868 16.3091 16.9612 15.9776ZM15.2792 18.4539C14.8697 18.8078 14.326 18.9798 13.6169 18.9798H4.38292C3.67374 18.9798 3.13004 18.8078 2.72065 18.4541C2.31902 18.107 2.12384 17.6332 2.12384 17.006C2.12384 16.6798 2.13569 16.3577 2.15939 16.0485C2.18251 15.7451 2.22977 15.4119 2.29985 15.0578C2.36906 14.708 2.45714 14.3798 2.5619 14.0827C2.66242 13.7978 2.79951 13.5157 2.96953 13.2439C3.13179 12.9849 3.31849 12.7627 3.5245 12.5837C3.71719 12.4162 3.96007 12.2791 4.24626 12.1763C4.51095 12.0812 4.8084 12.0291 5.13132 12.0213C5.17067 12.0403 5.24076 12.0765 5.3543 12.1437C5.58533 12.2804 5.85162 12.4364 6.146 12.607C6.47784 12.7991 6.90537 12.9726 7.41615 13.1223C7.93835 13.2755 8.47093 13.3534 8.99956 13.3534C9.52819 13.3534 10.0609 13.2755 10.5828 13.1224C11.094 12.9724 11.5214 12.7991 11.8537 12.6068C12.155 12.432 12.4138 12.2806 12.6448 12.1437C12.7584 12.0767 12.8284 12.0403 12.8678 12.0213C13.1909 12.0291 13.4883 12.0812 13.7531 12.1763C14.0392 12.2791 14.2821 12.4163 14.4748 12.5837C14.6808 12.7626 14.8675 12.9848 15.0297 13.2441C15.1999 13.5157 15.3371 13.7979 15.4375 14.0826C15.5424 14.3801 15.6306 14.7082 15.6997 15.0576C15.7696 15.4124 15.8171 15.7458 15.8402 16.0486V16.0489C15.864 16.3569 15.876 16.6789 15.8762 17.006C15.876 17.6333 15.6808 18.107 15.2792 18.4539Z" fill="#E94200" stroke="#E94200" stroke-width="0.4"/>
					</svg>
					| Собственник #2
					span
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
							<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
						</svg>
				.anketa-tabs__add.btn-new
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="9" cy="9" r="8.5" stroke="#BEBEBE"/>
						<path d="M9.16406 13.3242V4.99605" stroke="#BEBEBE" stroke-linecap="round"/>
						<path d="M5 9.16019L13.3281 9.16019" stroke="#BEBEBE" stroke-linecap="round"/>
					</svg>
					| Добавить собственника
			.anketa-content
				.anketa-content-block.section-margin
					h2.h1.title Основные данные
					.anketa-content-block-row
						//Если убрали фокус и поле осталось пустым (или не прошло валидацию) добавляем класс "input-error" и внутрь добавляем элемент <label class="input-error__label" for="{здесь id инпута}">Не заполнено, или ошибка ввода</label> Не забудь убрать класс и элемент если все правильно заполнили со второго раза 
						.anketa-content-block-row-input.input-error
							label(for="name") Имя
							input(type="text" placeholder="Иван" id="name")
							label.input-error__label(for="name") Не заполнено, или ошибка ввода
						.anketa-content-block-row-input
							label(for="") Отчество
							input(type="text" placeholder="Иванович")
						.anketa-content-block-row-input
							label(for="") Фамилия
							input(type="text" placeholder="Иванов")
					.anketa-content-block-row
						.anketa-content-block-row-input
							label(for="") Дата рождения
							input(type="text" placeholder="ДД.ММ.ГГГГ")
						.anketa-content-block-row-checkbox
							label(for="") Пол
							.anketa-content-block-row-checkbox-row
								label.anketa-content-block-row-checkbox-row-input
									input(type="radio" name="sex" checked)
									span 
									span Мужской
								label.anketa-content-block-row-checkbox-row-input
									input(type="radio" name="sex")
									span 
									span Женский
					.anketa-content-block-row
						.anketa-content-block-row-input.disabled
							label(for="") Телефон
							input(type="text" value="+7 (999) 123-45-67" disabled)
						.anketa-content-block-row-input
							label(for="") E-mail
							input(type="text" placeholder="username@mail.ru")
						.anketa-content-block-row-input
							label(for="") Номер ИНН
							input(type="text")
					.anketa-content-block-row
						.anketa-content-block-row-input
							label(for="") Номер СНИЛС
							input(type="text")

				.anketa-content-block.section-margin
					h2.h1.title Паспортные данные
					.anketa-content-block-row
						.anketa-content-block-row-input
							label(for="") Серия
							input(type="text" placeholder="0000")
						.anketa-content-block-row-input
							label(for="") Номер
							input(type="text" placeholder="000000")
						.anketa-content-block-row-input
							label(for="") Дата выдачи
							input(type="text" placeholder="ДД.ММ.ГГГГ")
					.anketa-content-block-row
						.anketa-content-block-row-input.col12
							label(for="") Выдан
							input(type="text")
						.anketa-content-block-row-input
							label(for="") Код подразделения
							input(type="text" placeholder="000-000")
					.anketa-content-block-row
						.anketa-content-block-row-input
							label(for="") Гражданство
							input(type="text")
						.anketa-content-block-row-input.col23
							label(for="") Место рождения
							input(type="text")
					.anketa-content-block-row
						.anketa-content-block-row-input.col13
							label(for="") Зарегистрирован (прописка)
							input(type="text")

				.anketa-content-block.section-margin
					h2.h1.title Семейное положение
					.anketa-content-block-row
						.anketa-content-block-row-checkbox
							label(for="") Семейное положение
							.anketa-content-block-row-checkbox-row
								label.anketa-content-block-row-checkbox-row-input
									input(type="radio" name="status" checked)
									span 
									span Состою</br>в браке
								label.anketa-content-block-row-checkbox-row-input
									input(type="radio" name="status")
									span 
									span Не состою</br>в браке
						.anketa-content-block-row-checkbox
							label(for="") Брачный договор
							.anketa-content-block-row-checkbox-row
								label.anketa-content-block-row-checkbox-row-input
									input(type="radio" name="contract")
									span 
									span Есть
								label.anketa-content-block-row-checkbox-row-input
									input(type="radio" name="contract" checked)
									span 
									span Нет

				.anketa-content-block.section-margin
					h2.h1.title Сканы документов
					.anketa-content-block-row
						.anketa-content-block-row-files
							label(for="") Скан паспорта (все страницы) 
							.anketa-content-block-row-files-dropzone
								.anketa-content-block-row-files-dropzone__info
									<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M46.6977 44.1425V31.1671H49.4043V44.1425C49.4043 47.0423 47.0441 49.4024 44.1444 49.4024H5.85987C2.96011 49.4024 0.6 47.0423 0.6 44.1425V31.1671H3.30658V44.1425C3.30658 45.5509 4.45146 46.6958 5.85987 46.6958H44.1444C45.5528 46.6958 46.6977 45.5509 46.6977 44.1425Z" fill="#E94200" stroke="white" stroke-width="1.2"/>
										<path d="M23.6569 30.4436V0.6H26.3635V30.4436V31.8921L27.3878 30.8679L34.386 23.8696L36.2998 25.7834L25.0102 37.0731L13.7206 25.7834L15.6344 23.8696L22.6327 30.8679L23.6569 31.8921V30.4436Z" fill="#E94200" stroke="white" stroke-width="1.2"/>
									</svg>
									| Просто перетяните файлы</br>в эту область или нажмите для загрузки
								.anketa-content-block-row-files-dropzone-list
									// При клике на заголовок "Загруженнные файлы", блоку с классом ".anketa-content-block-row-files-dropzone-list" необходимо добавить класс "active". Максимум 12 загруженных файлов
									.anketa-content-block-row-files-dropzone-list__title 
										<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M16.5938 11.0039V15.8906C16.5938 16.2783 16.2783 16.5938 15.8906 16.5938H2.10938C1.72167 16.5938 1.40625 16.2783 1.40625 15.8906V11.0039H0V15.8906C0 17.0537 0.946266 18 2.10938 18H15.8906C17.0537 18 18 17.0537 18 15.8906V11.0039H16.5938Z" fill="#BEBEBE"/>
											<path d="M12.3762 8.28689L9.70432 10.9588V0H8.29807V10.9588L5.6262 8.28689L4.63184 9.28125L9.0012 13.6506L13.3706 9.28125L12.3762 8.28689Z" fill="#BEBEBE"/>
										</svg>
										| Загруженнные файлы
									.anketa-content-block-row-files-dropzone-list-items
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан_паспорта.pdf
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>

						.anketa-content-block-row-files
							label(for="") Скан ИНН
							.anketa-content-block-row-files-dropzone
								.anketa-content-block-row-files-dropzone__info
									<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M46.6977 44.1425V31.1671H49.4043V44.1425C49.4043 47.0423 47.0441 49.4024 44.1444 49.4024H5.85987C2.96011 49.4024 0.6 47.0423 0.6 44.1425V31.1671H3.30658V44.1425C3.30658 45.5509 4.45146 46.6958 5.85987 46.6958H44.1444C45.5528 46.6958 46.6977 45.5509 46.6977 44.1425Z" fill="#E94200" stroke="white" stroke-width="1.2"/>
										<path d="M23.6569 30.4436V0.6H26.3635V30.4436V31.8921L27.3878 30.8679L34.386 23.8696L36.2998 25.7834L25.0102 37.0731L13.7206 25.7834L15.6344 23.8696L22.6327 30.8679L23.6569 31.8921V30.4436Z" fill="#E94200" stroke="white" stroke-width="1.2"/>
									</svg>
									| Просто перетяните файлы</br>в эту область или нажмите для загрузки
								.anketa-content-block-row-files-dropzone-list
									.anketa-content-block-row-files-dropzone-list__title 
										<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M16.5938 11.0039V15.8906C16.5938 16.2783 16.2783 16.5938 15.8906 16.5938H2.10938C1.72167 16.5938 1.40625 16.2783 1.40625 15.8906V11.0039H0V15.8906C0 17.0537 0.946266 18 2.10938 18H15.8906C17.0537 18 18 17.0537 18 15.8906V11.0039H16.5938Z" fill="#BEBEBE"/>
											<path d="M12.3762 8.28689L9.70432 10.9588V0H8.29807V10.9588L5.6262 8.28689L4.63184 9.28125L9.0012 13.6506L13.3706 9.28125L12.3762 8.28689Z" fill="#BEBEBE"/>
										</svg>
										| Загруженнные файлы
									.anketa-content-block-row-files-dropzone-list-items
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан_паспорта.pdf
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
						
						.anketa-content-block-row-files
							label(for="") Скан СНИЛС
							.anketa-content-block-row-files-dropzone
								.anketa-content-block-row-files-dropzone__info
									<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M46.6977 44.1425V31.1671H49.4043V44.1425C49.4043 47.0423 47.0441 49.4024 44.1444 49.4024H5.85987C2.96011 49.4024 0.6 47.0423 0.6 44.1425V31.1671H3.30658V44.1425C3.30658 45.5509 4.45146 46.6958 5.85987 46.6958H44.1444C45.5528 46.6958 46.6977 45.5509 46.6977 44.1425Z" fill="#E94200" stroke="white" stroke-width="1.2"/>
										<path d="M23.6569 30.4436V0.6H26.3635V30.4436V31.8921L27.3878 30.8679L34.386 23.8696L36.2998 25.7834L25.0102 37.0731L13.7206 25.7834L15.6344 23.8696L22.6327 30.8679L23.6569 31.8921V30.4436Z" fill="#E94200" stroke="white" stroke-width="1.2"/>
									</svg>
									| Просто перетяните файлы</br>в эту область или нажмите для загрузки
								.anketa-content-block-row-files-dropzone-list.active
									.anketa-content-block-row-files-dropzone-list__title 
										<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M16.5938 11.0039V15.8906C16.5938 16.2783 16.2783 16.5938 15.8906 16.5938H2.10938C1.72167 16.5938 1.40625 16.2783 1.40625 15.8906V11.0039H0V15.8906C0 17.0537 0.946266 18 2.10938 18H15.8906C17.0537 18 18 17.0537 18 15.8906V11.0039H16.5938Z" fill="#BEBEBE"/>
											<path d="M12.3762 8.28689L9.70432 10.9588V0H8.29807V10.9588L5.6262 8.28689L4.63184 9.28125L9.0012 13.6506L13.3706 9.28125L12.3762 8.28689Z" fill="#BEBEBE"/>
										</svg>
										| Загруженнные файлы
									.anketa-content-block-row-files-dropzone-list-items
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан трудовой книжки(1).jpg
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>
										.anketa-content-block-row-files-dropzone-list-items__item
											| Скан_паспорта.pdf
											<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M3.65234 10.9554L10.9557 3.65213" stroke="#E94200" stroke-linecap="round"/>
												<path d="M3.65234 3.65167L10.9557 10.955" stroke="#E94200" stroke-linecap="round"/>
											</svg>

				.anketa-content-block.section-margin
					.anketa-content-block-row
						.anketa-content-block-row__add.btn-new
							<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="9" cy="9" r="8.5" stroke="#E94200"/>
								<path d="M9.16406 13.3242V4.99611" stroke="#E94200" stroke-linecap="round"/>
								<path d="M5 9.16016L13.3281 9.16016" stroke="#E94200" stroke-linecap="round"/>
							</svg>
							| Добавить собственника
						a.anketa-content-block-row__btn.btn-new.btn--bg Сформировать договор