extends ../template

block variables
	- var title = 'Карта сайта'

block content
	.map
		.container
			table.map-table
				tbody
					tr
						td
							a.map-table__link(href="auth.html" target="_blank") Авторизация
					tr
						td
							a.map-table__link(href="lk.html" target="_blank") Личный кабинет
						td
							a.map-table__link(href="deal.html" target="_blank") Моя сделка
						td
							a.map-table__link(href="faq.html" target="_blank") Помощь и инфо
						td
							a.map-table__link(href="data.html" target="_blank") Мои данные
					tr
						td
							a.map-table__link(href="instruction.html" target="_blank") Инструкция 100% оплата
						td
							a.map-table__link(href="anketa.html" target="_blank") Анкета покупки 100% оплата
					tr
						td
							a.map-table__link(href="contract.html" target="_blank") Договор 100% оплата
						td
							a.map-table__link(href="statement-UKEP.html" target="_blank") Заявление УКЭП
						td
							a.map-table__link(href="UKEP.html" target="_blank") УКЭП
						td
							a.map-table__link(href="identity.html" target="_blank") Тождественность
					tr
						td
							a.map-table__link(href="check-documents.html" target="_blank") Проверка перед оплатой
						td
							a.map-table__link(href="payment.html" target="_blank") Оплата-аккредитив
						td
							a.map-table__link(href="prepare-for-registration.html" target="_blank") Подготовка к регистрации
						td
							a.map-table__link(href="sending-for-registration.html" target="_blank") Отправка на регистрацию
					tr
						td
							a.map-table__link(href="registration.html" target="_blank") Процесс регистрации
						td
							a.map-table__link(href="transaction-end.html" target="_blank") Окончание сделки