extends ../template

block variables
	- var title = 'Отправка на регистрацию'

block content
	.grey-block
	.info
		.container
			.info-load
				h2.h1.title Отправка на регистрацию
				.info-load-block
					<svg width="55" height="56" viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="27.5" cy="27.9727" r="27.5" fill="#87B700" fill-opacity="0.9"/>
						<path d="M41.9881 17.7504C41.5532 17.2863 40.8481 17.2863 40.4131 17.7504L23.9597 35.6876L18.8309 30.2153C18.396 29.7512 17.6909 29.7512 17.2559 30.2153C16.8209 30.6793 16.8209 31.4317 17.2559 31.8958L23.1722 38.2083C23.607 38.6723 24.3126 38.672 24.7472 38.2083L41.9881 19.4309C42.4231 18.9669 42.423 18.2145 41.9881 17.7504Z" fill="white" stroke="white" stroke-width="0.5"/>
					</svg>
					| Документы успешно приняты менеджером
			.info-withside
				.info-withside-content
					.info-load-row На ваш номер придет SMS-сообщение с кодом для подписания документов по услуге “электронная регистрация” в ДомКлик.
					.info-load-row Сразу после этого вам перезвонит наш специалист, которому необходимо будет продиктовать полученный код. Пожалуйста, следите за телефоном - срок ввода кода всего несколько минут. 
					.info-load-row После успешного ввода кода менеджером в систему, вы автоматически попадете на следующий этап.
				.info-withside-side
					.info-withside-side-download
						<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M34.693 34.9194L34.8558 35.0046L34.9857 34.8747L36.6426 33.2178L36.4658 33.041L36.6426 33.2178C37.6328 32.2275 39.2451 32.2274 40.2355 33.2178L44.0067 36.989C44.4869 37.4692 44.7508 38.1064 44.7508 38.7853C44.7508 39.4645 44.4869 40.1017 44.0066 40.5818L44.0066 40.5819L40.9897 43.5988C40.2346 44.3538 39.1723 44.7447 37.8414 44.7447C36.5867 44.7447 35.1019 44.3965 33.4405 43.6845C30.3496 42.3598 26.931 39.9211 23.8207 36.8107C20.7103 33.7003 18.2715 30.2818 16.9469 27.1909L16.7171 27.2893L16.9469 27.1909C15.4696 23.7439 15.5712 21.1031 17.0327 19.6417L17.0327 19.6417L20.0496 16.6247C21.04 15.6343 22.6521 15.6343 23.6425 16.6247L27.4136 20.3958C27.4136 20.3958 27.4136 20.3958 27.4136 20.3958C28.404 21.3862 28.404 22.9983 27.4136 23.9887C27.4136 23.9887 27.4136 23.9887 27.4136 23.9887L25.7567 25.6456L25.6268 25.7756L25.712 25.9384C27.7172 29.7676 30.8638 32.9141 34.693 34.9194ZM18.6758 26.4499L18.6758 26.4499C19.9156 29.3426 22.2179 32.5476 25.1508 35.4805C28.0837 38.4135 31.2888 40.7157 34.1815 41.9555C35.4178 42.4853 36.5425 42.7913 37.4729 42.8567C38.3947 42.9216 39.1753 42.7527 39.6594 42.2686L39.4826 42.0918L42.4996 39.0749C42.6039 38.9706 42.6196 38.8488 42.6194 38.7854H42.8694C42.8694 38.7852 42.8694 38.785 42.8694 38.7847C42.8693 38.6841 42.8443 38.4872 42.6763 38.3191L38.9051 34.548C38.7367 34.3795 38.5392 34.3549 38.439 34.3549C38.3386 34.3549 38.1412 34.3797 37.9728 34.5481L35.2414 37.2795L34.6423 36.9958C29.8261 34.7144 25.917 30.8052 23.6357 25.9891L23.6357 25.9891L23.3519 25.3901L26.0833 22.6587C26.3406 22.4015 26.3405 21.9834 26.0833 21.7262L22.3122 17.955C22.0549 17.6978 21.637 17.6978 21.3797 17.955L21.3796 17.955L18.3627 20.972C18.3627 20.972 18.3627 20.972 18.3627 20.972C17.8786 21.4561 17.7097 22.2367 17.7746 23.1586C17.84 24.0889 18.146 25.2136 18.6758 26.4499Z" fill="black" stroke="white" stroke-width="0.5"/>
							<circle cx="30" cy="30" r="29.25" stroke="#E94200" stroke-width="1.5"/>
						</svg>
						span Ожидайте звонок нашего специалиста.

			