.header{
	width: 100%;
  position: fixed;
  left: 0;
  top: 0;
	z-index: 202;
	&__top{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2% 0 3.5%;
    position: relative;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	}
}